@charset "UTR-8";

/* Paleta de Cores:
Verde: #49a09d
Lilas: #5f2c82


*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*borda faz parte da conta de largura*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html{
    background-color: #fd5555;
    width: 100vw;
    height: 100vh;
}

main{

    width: 100vw;
    height: 100vh;
    position: relative;

}

section#login{
    position: absolute; /* centralizar*/
    top: 50%; /* centralizar*/
    left: 50%; /* centralizar*/
    transform: translate(-50%, -50%); /* centralizar*/

    overflow: hidden; /*tudo fora da borda fica escondido*/
    background-color: white; 
    border-radius: 20px;  
    text-align: center;
    height: 515px;
    width: 250px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    transition: width 0.3s, height 0.3s; /*animação*/
    transition-timing-function: ease; /*suaviza a animação*/
}

section > div#imagem{
    display: block;
    background: #ff6a6a url(../imagens/pexels-miguel-á-padriñán-2882566.jpg) no-repeat;

    background-position: center center; /* centralizar imagem */
    background-size: cover;
    height: 200px;
}

section > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo{
    background-color: #fd5555;
    width: 100%;
    height: 40px;
    display: block;
    border-radius: 5px;
    margin: 5px 0px;

}

div.campo > label {
    display: none;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #fc8c8c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #d87979;
    border: 1px solid black;
    color: white;
}

form > a.botao {
    /*esse é só um link custumissado*/
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    color: black;
    border: 1px solid #ff9595;
    border-radius: 5px;
    text-decoration: none;
    padding-top: 7px;
    margin-top: 5px;
}

form > a.botao > span {
    font-size: 0.8em;
}

form > a.botao:hover{
    background-color: #e27e7e;
    color: white;
}